@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    //padding pris en compte dans le calcul de la largeur
    box-sizing: border-box;
}

$color : #2C3E50;

body {
    background: #F1F1F1;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;

}

.site {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-avatar {
    border-radius: 50%;
}

/* ------- Header --------- */
.topbar {
    background: $color;
    color: #fff;

    .topbar-logo {
        font-size: 24px;
        display: block;
        text-align: center;
        padding: 11px 0;
    }

    .topbar-nav {
        text-align: center;
        padding-bottom: 16px;
        line-height: 2;
        a {
            display: inline-block;
            margin: 0 12px;
            color: rgba(255, 255, 255, 0.67);
            transition: color .3s;
            &:hover,
            &.active {
                color: #fff;
            }
        }
    }
}

/* ------- Sidebar --------- */

.sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    a {
        display: block;
        text-decoration: none;
        padding: 0.6em 0;
        transition: .3s;
        flex-basis: 50%;
        border: 1px solid transparent;
        padding-left: 10px;

        &::before {
            content: '';
            display: inline-block;
            background: url('/assets/images/home.svg') center center / contain no-repeat;
            width: 15px;
            height: 15px;
            margin-right: 20px;
            margin-top: -2px;
            opacity: .67;
            transition: opacity .3s;
        }

        &.active,
        &:hover {
            color: #000;
            opacity: 1;
            border: 1px solid #dbdbdb;
            background: #fff;
            font-weight: bold;
            border-radius: 3px;
        }




    }

    .sidebar-messages::before {
        background-image: url('/assets/images/messages.svg');
    }

    .sidebar-events::before {
        background-image: url('/assets/images/events.svg');
    }

    .sidebar-groups::before,
    .sidebar-friends::before {
        background-image: url('/assets/images/groups.svg');
    }

}


/* ------- Main --------- */

.main,aside {
    margin-bottom: 20px;
    .card {
        border: 1px solid #dbdbdb;
        background: #fff;
        border-radius: 3px;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        .card-header {
            padding: 10px;
            position: relative;

            .card-avatar {
                position: absolute;
                top: 50%;
                //margin-top: -27px;
                transform: translateY(-50%);
                left: 10px;
            }

            .card-title {
                font-weight: bold;
                color: #000;
                padding: 0;
                margin: 0 0 5px 0;
                font-size: 18px;
            }

            .card-date {
                color: rgba(0, 0, 0, 0.38);
                font-size: 12px;
            }
        }

        .card-header-avatar {
            padding-left: 65px;
        }

        .card-body {
            padding: 0 10px 20px 10px;
            a{
                color: #34aaff;
                text-decoration: underline;
            }
            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }

            .fullwidth {
                width: calc(100% + 20px );
                margin-left: -10px;
                margin-right: -10px;
            }
        }


        .card-footer{
            border-top: 1px solid #dbdbdb;
            background: #fbfbfb;
            display: flex;
            padding: 10px;
            font-size: 12px;
            color: #bdbdbd;
            text-decoration: none;
            a{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }


            .card-comments::before,.card-like::before {
                content: '';
                background: url('/assets/images/like.svg') center center / 20px 18px no-repeat;
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
            .card-comments{
                margin-left: auto; // on lui fait savoir que dans tous les cas reste à droite
                &::before {
                    background: url('/assets/images/comment.svg') center center / 18px 17px no-repeat;
                }
            }
            
        }


    }
}



/* ------- Aside --------- */

.aside {
    .profile{
        display: none;
    }
    .sidebar-title{
        font-size: 15px;
        color: #000;
        font-weight: bold;
        margin-bottom: 18px;
        margin-top: 30px;
        &::after{
            content: '';
            display: block;
            background: #000;
            width: 100%;
            height: 1px;
            margin-top: 4px;
        }

    }
    .friend{
        margin: 14px 0;
        display: flex;

        .friend-avatar{
            width: 73px;
            height: 73px;
            flex: none;
            margin-right: 10px;
        }
        .friend-body{
            display: flex;
            flex-direction: column;
        
            
            .friend-name{
                font-weight: bold;
                display: block;
                color: #000;
                font-size: 15px;
            }
            .friend-connections{
                font-size: 12px;
                margin-top: 4px;
                color: rgba(0, 0, 0, 0.38);
            }

            .friend-add{
                font-size: 12px;
                display: block;
                color: #000;
                margin-top: auto;
                &::before{
                    content:'';
                    background: url('/assets/images/add-friend.svg') center center / 18px 13px no-repeat;
                    display: inline-block;
                    width: 18px;
                    height: 13px;
                    margin-right: 5px;
                    vertical-align: middle;
                    transform: translateY(-1px);


                }
            }
        }
    }
}















@media only screen and(min-width: 520px) {

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;

        .topbar-logo,
        .topbar-nav {
            padding: 0;

            a {
                margin: 0 20px;
            }
        }


    }
}



@media only screen and(min-width : 950px) {
    .site {
        display: flex;
        height: 250px;
    }

    .aside {
        .profile {
            display: block;
        }
    }

    .sidebar {
        flex: none;
        width: 180px;
        display: block;

        a {
            width: 100%;
        }
    }

    .main {
        margin-left: 30px;
        margin-right: 30px;
        width: 100%;
    }

    .aside {
        flex: none;
        width: 310px;
    }
}